.idea
*.iml
*.ipr
*.iws
host_vars/*
group_vars/*
keys/*
secrets/*
roles/seed
.terraform
*.tfstate.backup
*.tfstate
inventories/*.inventory
inventories/host_vars/*
ssh.cfg
plays/graylog-server-salt
backup
*.creds
*.log
target
all.terrabot.yml
roles/consul-role
blog-secrets