{
  "service": {
    "name": "traefik/prometheus",
    "tags": [
        "traefik.frontend.entrypoints=http",
        "traefik.frontend.backend=prometheus",
        "traefik.frontend.passHostHeader=true",
        "traefik.frontend.rule=Host:prometheus.chinook.aws.wescale.fr",
        "traefik.backends.prometheus.servers.monitor.url=http://{{ ansible_default_ipv4.address }}:9090/",
        "traefik.tags=exposed"
    ],
    "port": 9090
  }
}
