[Unit]
Description=Prometheus Statsd Exporter
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ statsd_exporter_deploy_dir }}
ExecStart={{ statsd_exporter_deploy_dir }}/statsd_exporter  -web.listen-address=":9101"
User={{ statsd_exporter_user }}
Group={{ statsd_exporter_user }}
Restart=always

[Install]
WantedBy=multi-user.target