{% set comma = joiner(",") %}
{
    "server": {{ (consul_mode == 'server')|lower }},
    "datacenter": "{{ consul_dc_name }}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "disable_remote_exec": true,

    "encrypt": "{{ consul_cluster_encrypt_key }}",

    "start_join": [
    {%- for host in consul_ansible_bootstrap_group -%}
    {{ comma() }}"{{ hostvars[host]['ansible_'+consul_network_interface]['ipv4']['address'] }}"
    {%- endfor -%}
    ]
}
