[ ca ]
default_ca = consulca

[ consulca ]
new_certs_dir = .
unique_subject = no
serial = consul-node.cer.serial
database = consul-node.cer.index
certificate = {{ consul_local_tls_dir }}/consul-root.cer
private_key = {{ consul_local_tls_dir }}/consul-root-key.pem
default_days = 3650
default_md = sha1
policy = consulca_policy
x509_extensions = consulca_extensions

[ consulca_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ consulca_extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth,clientAuth
subjectAltName=@alt_names


[alt_names]
DNS.1 = {{ inventory_hostname }}.node.{{ consul_dc_name }}.consul
DNS.2 = localhost