{
  "service": {
    "name": "traefik/grafana",
    "tags": [
        "traefik.frontend.entrypoints=http",
        "traefik.frontend.backend=grafana",
        "traefik.frontend.passHostHeader=true",
        "traefik.frontend.rule=Host:metrics.chinook.aws.wescale.fr",
        "traefik.backends.grafana.servers.monitor.url=http://{{ ansible_default_ipv4.address }}:3000/",
        "traefik.tags=internals"
    ],
    "port": 3000
  }
}
