{
  "service": {
    "name": "traefik/grafana",
    "tags": [
        "traefik.frontend.entrypoints=http",
        "traefik.frontend.backend=grafana-priv",
        "traefik.frontend.passHostHeader=true",
        "traefik.frontend.rule=Host:grafana.chinook.aws.wescale.fr",
        "traefik.backends.grafana-priv.servers.server1.url=http://{{ ansible_default_ipv4.address }}:3000/",
        "traefik.tags=dashboard"
    ],
    "port": 3000
  }
}
