{% set comma = joiner(",") %}
{
    "server": true,
    "datacenter": "{{ consul_dc_name }}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "start_join": [
    {%- for host in groups['consul-servers-bootstrap'] -%}
    {{ comma() }}"{{ hostvars[host]['ansible_'+consul_network_interface]['ipv4']['address'] }}"
    {%- endfor -%}
    ]
}
