{
  "service": {
    "name": "traefik.{{ consul_ui_service_name }}",
    "tags": [
        "traefik.frontend.entrypoints=http",
        "traefik.frontend.backend={{ consul_ui_service_name }}",
        "traefik.frontend.passHostHeader=true",
        "traefik.frontend.rule=",
        "{{ consul_ui_traefik_backend_server }}.url=https://{{ ansible_default_ipv4.address }}:{{ consul_https_port }}/",
        "traefik.tags=internal"
    ],
    "port": {{ consul_https_port }}
  }
}
