server:
 interface: 127.0.0.1
 logfile: /var/log/unbound/unbound.log

 # Consul does not support DNSSEC
 domain-insecure: "{{ consul_dc_name }}.consul"
 do-ip4: yes
 do-ip6: no
 do-udp: yes
 do-tcp: yes

 verbosity: 1

 # for Docker container
 access-control: 172.17.0.0/16 allow_snoop

 hide-identity: yes
 hide-version: yes
 harden-glue: yes
 use-caps-for-id: yes
 do-not-query-localhost: no

stub-zone:
  name: "{{ consul_dc_name }}.consul"
  stub-addr: "127.0.0.1@8600"

{% for private_zone in unbound_private_zones %}
stub-zone:
  name: "{{ private_zone }}"
  stub-addr: "{{ default_nameserver_raw.stdout }}"
{% endfor %}

