{
  "acl_datacenter": "dc1",
{% if consul_mode|default('agent') == 'server' %}
  "acl_master_token": "{{ consul_acl_master_token }}",
{% endif %}
{% if consul_acl_agent_token is defined %}
  "acl_token": "{{ consul_acl_agent_token }}",
{% endif %}
  "acl_down_policy": "extend-cache",
  "acl_default_policy": "deny"
}
