##
# Generated inventory for Terraform layer {{ tflayer }}
##

{% for group_output_tuple in ansible_groups_to_tf_output.items() %}
[{{ group_output_tuple[0] }}]
{% for single_host in tf_outputs[group_output_tuple[1]].value %}
{{ group_output_tuple[0] }}_{{ loop.index0 }} ansible_host={{ single_host }}
{% endfor %}

{% endfor %}
{{ inventory_raw_block|default('') }}
